## Desafio - Módulo 3

In [1]:
# importando as bibliotecas
import pandas as pd # biblioteca para manipulação de dados
import numpy as np # biblioteca para utilização de vetores e matrizes
import matplotlib.pyplot as plt # biblioteca para plotar gráficos

In [2]:
# carregando o dataset
df = pd.read_csv('indian-liver-patient.csv')

In [3]:
print(df.shape)
display(df.isnull().sum())
display(df.info())

(583, 11)

V1       0
V2       0
V3       0
V4       0
V5       0
V6       0
V7       0
V8       0
V9       0
V10      0
Class    0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      583 non-null    int64
 1   V2      583 non-null    object
 2   V3      583 non-null    float64
 3   V4      583 non-null    float64
 4   V5      583 non-null    int64
 5   V6      583 non-null    int64
 6   V7      583 non-null    int64
 7   V8      583 non-null    float64
 8   V9      583 non-null    float64
 9   V10     583 non-null    float64
 10  Class   583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

None

In [4]:
df.head()

   V1      V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40      1

In [5]:
print(df.shape)
size = len(df['Class'].unique())
print(f'Quantidade de classes = {size}')
df.head()

(583, 11)
Quantidade de classes = 2

   V1      V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40      1

### Pré-processamento

In [6]:
# criando um dicionário de dados para o mapeamento
name_to_class = {'Female': 0, 'Male': 1}

# substituindo os valores categóricos pelo mapeamento
df['V2'] = df['V2'].map(name_to_class)

# check
df.head(5)

   V1  V2    V3   V4   V5  V6   V7   V8   V9   V10  Class
0  65   0   0.7  0.1  187  16   18  6.8  3.3  0.90      1
1  62   1  10.9  5.5  699  64  100  7.5  3.2  0.74      1
2  62   1   7.3  4.1  490  60   68  7.0  3.3  0.89      1
3  58   1   1.0  0.4  182  14   20  6.8  3.4  1.00      1
4  72   1   3.9  2.0  195  27   59  7.3  2.4  0.40      1

In [7]:
df.describe()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,Class
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000
mean,44.746141,0.756432,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,0.429603,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.318492,0.452490
min,4.000000,0.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,1.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.947064,1.000000
75%,58.000000,1.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,1.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [8]:
# separando os conjuntos de treino e teste
y = np.array(df['Class'])

# salvando a ordem das features
feature_list = list(df.columns)

In [9]:
# removendo a coluna de target do df original
df = df.drop('Class', axis = 1)

# check
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10'], dtype='object')

In [10]:
# convertendo df para array
X = np.array(df)

In [11]:
# importando função para separar dados de treino e teste
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

### Random Search - SVC

In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import StratifiedKFold, RandomizedSearchCV
from scipy.stats import uniform
from scipy.stats import randint
from sklearn.metrics import f1_score, make_scorer

In [13]:
# definindo o tipo de validação cruzada e o número de folds
cv_strat = StratifiedKFold(n_splits=10)

# definindo a estratégia de score a partir da métrica f1
f1 = make_scorer(f1_score)

# definindo hiperparâmetros
distributions = dict(kernel = ['sigmoid','rbf'], C=uniform(loc=0, scale=10))

# instanciando meu classificador
classifier = SVC()

# instanciando e modelando o random search com os hiperparâmetros e a validação definidas
random_cv = RandomizedSearchCV(classifier, distributions, cv=cv_strat, scoring=f1, random_state=42, n_iter=5)
random_cv.fit(X, y)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   estimator=SVC(), n_iter=5,
                   param_distributions={'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001E771649C70>,
                                        'kernel': ['sigmoid', 'rbf']},
                   random_state=42, scoring=make_scorer(f1_score))

In [14]:
# vamos olhar para todos os resultados encontrados
print('Resumo de todos os resultados encontrados:\n\n', random_cv.cv_results_)

Resumo de todos os resultados encontrados:

 {'mean_fit_time': array([0.0099942 , 0.01519096, 0.0063957 , 0.00639591, 0.00929339]), 'std_fit_time': array([0.00256774, 0.00166101, 0.00048935, 0.0004899 , 0.0006403 ]), 'mean_score_time': array([0.0037976 , 0.00259888, 0.00179932, 0.00199957, 0.00200033]), 'std_score_time': array([2.13397922e-03, 9.16877128e-04, 3.99936396e-04, 1.02713867e-06,
       1.26609021e-06]), 'param_C': masked_array(data=[3.745401188473625, 1.834347898661638,
                   5.986584841970366, 4.458327528535912,
                   0.5808361216819946],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_kernel': masked_array(data=['sigmoid', 'rbf', 'sigmoid', 'sigmoid', 'rbf'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'C': 3.745401188473625, 'kernel': 'sigmoid'}, {'C': 1.834347898661638, 'kernel': 'rbf'}, {'C': 5.986584841970366, 'kernel': 'sigmoid'}, {'C': 4.458327528535912, 'kernel': 'sigmoid'}, {'C': 0.5808361216819946, 'kernel': 'rbf'}], 'split0_test_score': array([0.73563218, 0.83168317, 0.73563218, 0.73563218, 0.83168317]), 'split1_test_score': array([0.73809524, 0.83168317, 0.74074074, 0.72289157, 0.83168317]), 'split2_test_score': array([0.69767442, 0.83168317, 0.69767442, 0.69767442, 0.83168317]), 'split3_test_score': array([0.66666667, 0.84      , 0.66666667, 0.66666667, 0.84      ]), 'split4_test_score': array([0.73809524, 0.84      , 0.73809524, 0.73809524, 0.84      ]), 'split5_test_score': array([0.78571429, 0.84      , 0.78571429, 0.8       , 0.84      ]), 'split6_test_score': array([0.74358974, 0.82828283, 0.74358974, 0.74358974, 0.82828283]), 'split7_test_score': array([0.65      , 0.82828283, 0.65      , 0.65      , 0.82828283]), 'split8_test_score': array([0.75862069, 0.82828283, 0.77272727, 0.75862069, 0.82828283]), 'split9_test_score': array([0.82222222, 0.82828283, 0.83146067, 0.83146067, 0.82828283]), 'mean_test_score': array([0.73363107, 0.83281808, 0.73623012, 0.73446312, 0.83281808]), 'std_test_score': array([0.04909159, 0.00490793, 0.05166157, 0.05253831, 0.00490793]), 'rank_test_score': array([5, 1, 3, 4, 1])}

In [15]:
# vamos olhar para os melhores resultados encontrados pelo Random Search
print('Melhor resultado f1:', random_cv.best_score_)
print('\nMelhor configuração de hiperparâmetros:', random_cv.best_params_)
print('\nConfigurações de todos os hiperparâmetros do melhor estimador encontrado pelo RandomSearch:\n', random_cv.best_estimator_)

Melhor resultado f1: 0.832818081808181

Melhor configuração de hiperparâmetros: {'C': 1.834347898661638, 'kernel': 'rbf'}

Configurações de todos os hiperparâmetros do melhor estimador encontrado pelo RandomSearch:
 SVC(C=1.834347898661638)

### Random Search - Random Forest Classifiers

In [16]:
# definindo o tipo de validação cruzada e o número de folds
cv_strat = StratifiedKFold(n_splits=10)

# definindo a estratégia de score a partir da métrica f1
f1 = make_scorer(f1_score)

# definindo hiperparâmetros
distributions1 = dict(n_estimators=randint(100, 200), bootstrap=[True, False], criterion=['gini','entropy'])

# instanciando meu classificador
classifier1 = RandomForestClassifier(random_state=42)

# instanciando e modelando o random search com os hiperparâmetros e a validação definidas
random_cv1 = RandomizedSearchCV(classifier1, distributions1, cv=cv_strat, scoring=f1, random_state=42, n_iter=5)
random_cv1.fit(X, y)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
                   estimator=RandomForestClassifier(random_state=42), n_iter=5,
                   param_distributions={'bootstrap': [True, False],
                                        'criterion': ['gini', 'entropy'],
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001E76F26DBB0>},
                   random_state=42, scoring=make_scorer(f1_score))

In [17]:
# vamos olhar para todos os resultados encontrados
print('Resumo de todos os resultados encontrados:\n\n', random_cv1.cv_results_)

Resumo de todos os resultados encontrados:

 {'mean_fit_time': array([0.52006118, 0.38979087, 0.433355  , 0.39977338, 0.42545815]), 'std_fit_time': array([0.08323266, 0.0397046 , 0.08339978, 0.05070344, 0.0126039 ]), 'mean_score_time': array([0.02258615, 0.02308655, 0.02218904, 0.02338281, 0.023985  ]), 'std_score_time': array([0.00111726, 0.01131113, 0.00359317, 0.00955827, 0.00117676]), 'param_bootstrap': masked_array(data=[True, True, True, True, False],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_criterion': masked_array(data=['entropy', 'gini', 'gini', 'gini', 'gini'],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[192, 171, 182, 174, 199],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'bootstrap': True, 'criterion': 'entropy', 'n_estimators': 192}, {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 171}, {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 182}, {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 174}, {'bootstrap': False, 'criterion': 'gini', 'n_estimators': 199}], 'split0_test_score': array([0.82105263, 0.82608696, 0.8172043 , 0.8172043 , 0.79120879]), 'split1_test_score': array([0.8       , 0.77777778, 0.76923077, 0.77777778, 0.75555556]), 'split2_test_score': array([0.83333333, 0.82105263, 0.82105263, 0.82105263, 0.8172043 ]), 'split3_test_score': array([0.84705882, 0.88636364, 0.88636364, 0.88636364, 0.85057471]), 'split4_test_score': array([0.80898876, 0.79069767, 0.78651685, 0.7816092 , 0.78571429]), 'split5_test_score': array([0.7654321 , 0.79518072, 0.79518072, 0.79518072, 0.75949367]), 'split6_test_score': array([0.77333333, 0.76315789, 0.76315789, 0.77922078, 0.75324675]), 'split7_test_score': array([0.71264368, 0.72941176, 0.72941176, 0.72941176, 0.63291139]), 'split8_test_score': array([0.8       , 0.79120879, 0.79120879, 0.79120879, 0.79120879]), 'split9_test_score': array([0.82105263, 0.83870968, 0.85106383, 0.83870968, 0.81318681]), 'mean_test_score': array([0.79828953, 0.80196475, 0.80103912, 0.80177393, 0.77503051]), 'std_test_score': array([0.03714941, 0.04130759, 0.04285287, 0.04001485, 0.05556268]), 'rank_test_score': array([4, 1, 3, 2, 5])}

In [18]:
# vamos olhar para os melhores resultados encontrados pelo Random Search
print('Melhor resultado f1:', random_cv1.best_score_)
print('\nMelhor configuração de hiperparâmetros:', random_cv1.best_params_)
print('\nConfigurações de todos os hiperparâmetros do melhor estimador encontrado pelo RandomSearch:\n', random_cv1.best_estimator_)

Melhor resultado f1: 0.8019647527623143

Melhor configuração de hiperparâmetros: {'bootstrap': True, 'criterion': 'gini', 'n_estimators': 171}

Configurações de todos os hiperparâmetros do melhor estimador encontrado pelo RandomSearch:
 RandomForestClassifier(n_estimators=171, random_state=42)